<form class="form" method="POST" >
  <div class="form-group">
    <label for="homeContent">Nội dung Home</label>
    <input type="text" class="form-control" id="homeContent" name="homeContent" value="Chào mừng đến với công ty ABC">
  </div>
  <div class="form-group">
    <label for="resJoin">Nội dung hồi đáp tham gia</label>
    <input type="text" class="form-control" id="resJoin" name="resJoin" value="Cảm ơn các bạn đã đồng ý tham dự">
  </div>
   <div class="form-group">
    <label for="resNotJoin">Nội dung hồi đáp KHÔNG tham gia</label>
    <input type="text" class="form-control" id="resNotJoin" name="resNotJoin" value="Rất tiết vì chưa có dịp phục vụ bạn">
  </div>
  <button type="submit" class="btn btn-primary">Chấp nhận</button>
</form>