<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Metting Id</th>
        </tr>
    </thead>
    <tbody>
        {{#each this.data}}
        <tr>
            <td>{{mettingid}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>