<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/reg">Register</a></li>
        <li><a href="/login">Sign In</a></li>
        <li><a href="/regmetting">Register Mettings</a></li>
        <li><a href="/listmetting">List Mettings</a></li>
    </ul>
</nav>