<nav>
    <ul>
        <li><a href="/admin">Home</a></li>
        <li><a href="/admin/admin">Admin</a></li>
        <li><a href="/admin/config">Config</a></li>
        <li><a href="/admin/profile">Profile</a></li>
        <li><a href="/admin/mettings">Mettings</a></li>
    </ul>
</nav>